section{
    box-shadow:0 0 3vmin rgba(0,0,0,.2);
    margin:4vh auto;
    max-width:96vw;
}

.duck_duck_go_search_widget input{
    display:inline-block;
    &[type*="search"]{
        margin-right:5%;
        width:70%;
    }
    &[type*="submit"]{
        background-color:#fff;
        border:1px solid #03a9f4;
        border-radius:3vmin;
        color:#03a9f4;
        width:15%;
        &:hover{
            background-color:#03a9f4;
            color:#fff;
        }
    }
}