.related-articles{
    width:90%;
    & > h2{
        background-color:#03a9f4;
        box-shadow:0 0 3vmin rgba(0,0,0,.2);
        color:#fff;
        line-height:6vh;
        margin:2vh auto;
        max-width:80%;
        min-height:6vh;
        text-align:center;
    }
    & .card-list{
        flex-wrap:nowrap;
        height:30vmax;
        overflow-x:auto;
        overflow-y:hidden;
        width:100%;
    }
}