@import 'snsicon';
.share-button{
    & li{
        display:inline-block;
        & a{
            background-color:#ccc;
            color:#fff;
            display:inline-block;
            font-size:1.8rem;
            height:3em;
            margin:2vh;
            text-align:center;
            vertical-align:center;
            width:4em;
        }
    }
}
/*.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}*/