@import 'snsicon';
.share-button{
    box-shadow:0 7px 10px -5px rgba(0,0,0,.1) inset;
    margin:4vh auto;
    overflow-x:auto;
    overflow-y:hidden;
    white-space:nowrap;
    width:100%;
    & li{
        display:inline-block;
        & a{
            background-color:#737373;
            box-sizing:border-box;
            color:#fff;
            display:inline-block;
            font-size:2rem;
            height:3em;
            margin:1vh 2vh;
            text-align:center;
            vertical-align:50%;
            width:4em;
            &[href*="hootsuite"],&[href*="reddit"]{
                font-weight:700;
            }
            &[href*="instapaper"]{
                background-color:#fff;
                border:1vmin solid #333;
                color:#333;
            }
        }
    }
}
/*.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}*/