@import 'snsicon';
.share-button{
    & li{
        display:inline-block;
        & a{
            background-color:#ccc;
            color:#fff;
            display:inline-block;
            font-size:1.8rem;
            height:3em;
            margin:2vh;
            text-align:center;
            vertical-align:center;
            width:4em;
            &[href*="hootsuite"]{
                font-weight:600;
            }
            &[href*="instapaper"]{
                background-color:#fff;
                border:1vmin solid #333;
                color:#333;
            }
        }
    }
}
/*.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}
.twitter{
    background-color:;
}*/