@font-face{
  font-family:'snsicon';
  src:
    url('../fonts/snsicon.ttf?yc3l6s') format('truetype'),
    url('../fonts/snsicon.woff?yc3l6s') format('woff'),
    url('../fonts/snsicon.svg?yc3l6s#snsicon') format('svg');
  font-weight:normal;
  font-style:normal;
}

.icon{
    font-family:'snsicon';
    speak:none;
}

.icon-brand::before{
    content:"\e900";
}
.icon-brand2::before{
    content:"\e901";
}
.icon-brand3::before{
    content:"\e902";
}
.icon-brand4::before{
    content:"\e903";
}
.icon-brand5::before{
    content:"\e904";
}
.icon-brand6::before{
    content:"\e905";
}
.icon-brand7::before{
    content:"\e906";
}
.icon-brand8::before{
    content:"\e907";
}
.icon-brand9::before{
    content:"\e908";
}
.icon-brand10::before{
    content:"\e909";
}
.icon-brand11::before{
    content:"\e90a";
}
.icon-brand12::before{
    content:"\e90b";
}
.icon-brand13::before{
    content:"\e90c";
}
.icon-brand14::before{
    content: "\e90d";
}
.icon-brand15::before{
    content:"\e90e";
}
.icon-brand16::before{
    content:"\e90f";
}
.icon-brand17::before{
    content:"\e910";
}
.icon-mail::before{
    content:"\e945";
}
.icon-print::before{
    content:"\e954";
}
.icon-share::before{
    content:"\ea82";
}
.icon-facebook:before{
    content:"\ea90";
}